.detalle-proyecto {
    background-color: #fff5f8;
    width: 70%;
    max-width: 700px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #f8bbd0;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.15);
    text-align: left;
}
.detalle-proyecto h2 {
    color: #880e4f;
    margin-bottom: 15px;
}

.detalle-proyecto h3 {
    color: #c2185b;
    margin-top: 20px;
    margin-bottom: 10px;
}
.detalle-proyecto p {
    color: #5a2340;
    line-height: 1.6;
    margin-bottom: 10px;
}
.detalle-proyecto ul {
    list-style: none;
    padding: 0;
}
.detalle-proyecto li {
    background-color: white;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 10px;
    color: #5a2340;
    border: 1px solid #f8bbd0;
}
.detalle-proyecto button {
    margin-top: 20px;
    background-color: #880e4f;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.detalle-proyecto button:hover {
    background-color: #c2185b;
    transform: scale(1.05);
}