.header {
    background: #f48fb1;
    color: white;
    text-align: center;
    padding: 60px 20px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.texto h1 {
    font-size: 52px;
    font-weight: 800;
}

.texto p {
    font-size: 20px;
}