.nav {
    background-color: #880e4f;
    padding: 20px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.nav-lista {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-lista a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-lista a:hover {
    background-color: #f8bbd0;
    color: #880e4f;
    transform: scale(1.1);
}

.nav-lista a:focus,
.nav-lista a:active {
    background-color: #f8bbd0;
    color: #880e4f;
}