.nav {
    background: #ec407a;
    padding: 18px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.nav-lista {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.nav-lista a {
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s;
    text-decoration: none;
    font-size: 18px;
}

.nav-lista a:hover {
    background: white;
    color: #ec407a;
    transform: scale(1.1);
}